.addWaterBtn {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  position: absolute;
  right: 16px;
  bottom: 32px;
  border-radius: 30px;
  padding: 14px 20px;
  width: 140px;
  height: 46px;
  background-color: #323f47;
  color: #fff;
  cursor: pointer;
}

.addWaterBtn:focus,
.addWaterBtn:hover {
  color: #9be1a0;
}

@media screen and (min-width: 768px) {
  .addWaterBtn {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    right: 32px;
    bottom: 64px;
    padding: 18px 30px;
    width: 178px;
    height: 60px;
  }
}
