.waterMainInfo {
  margin: 0 auto;
  position: relative;
  background-color: #9be1a0;
  max-width: 343px;
  height: 415px;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 24px 16px;
}
@media screen and (min-width: 767px) {
  .waterMainInfo {
    max-width: 704px;
    height: 578px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .waterMainInfo {
    width: 672px;
    height: 736px;
  }
}
