/* body.no-scroll {
  overflow: hidden;
} */
/* .container{
  width: 100vh;
  height: 100vh;

} */
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* padding-top: ; */
  /* padding: 80px auto 40px; */

  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.modalBox {
  /* height: 1302px; */
  width: 343px;
  border-radius: 15px;
  padding: 40px 20px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 80px auto 40px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
  margin-bottom: 10px;
}

input[type='file'] {
  display: none;
}

.customFileLabel {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.customFileLabel:hover {
  background-color: #45a049;
}

.lang {
  position: relative;
}

.flexGroup {
  width: 303px;
  margin-bottom: 40px;
}

.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: center;
  display: inline-block;
  margin-bottom: 14px;
}

.genderGroup {
  margin-bottom: 24px;
}

.langGroup {
  margin-bottom: 24px;
}

.inputGreen {
  display: none; /* Сховати оригінальні radio-кнопки */
}
.inputGreen, .radioInput {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: #2f2f2f; /* Темно-зелений колір тексту */
}
.inputGreen, .radioInput:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #9be1a0; /* Зелений колір рамки */
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff /* Білий фон */
}
.inputGreen:checked, .radioInput:before {
  background-color: #9be1a0; /* Зелений фон для обраного елемента */
}

.inputGreen:checked, .radioInput:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff; /* Білий колір */
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.radioBox {
  display: flex;
  gap: 20px;
}

.radioInput {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 303px;
  height: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 14px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formula {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #9be1a0;
}

.description {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  width: 303px;
  margin-bottom: 14px;
  color: rgba(47, 47, 47, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.textActive {
  display: inline-block;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.nameGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-bottom: 14px;
}

.emailGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-bottom: 24px;
}

.weightGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-bottom: 14px;
}

.text {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.span {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  color: #9be1a0;
}

.buttonSubmit {
  border-radius: 30px;
  padding: auto 40px;
  width: 116px;
  height: 46px;
  background: #9be1a0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
}

.error {
  font-size: 14px;
  line-height: 1.28571;
  color: #db686e;
}

@media only screen and (min-width: 768px) {
  .modalBox {
    /* height: 1302px; */
    width: 648px;
    margin: 64px auto;
    padding: 40px 40px;
  }

  .title {
    font-size: 28px;
    line-height: 1.14286;
  }
  .image {
    width: 100px;
    height: 100px;
  }

  .boxRadio {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flexGroup {
    width: 568px;
  }

  .label {
    font-size: 18px;
    line-height: 1.33333;
  }

  .radioInput {
    display: flex;
    gap: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  .input {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 568px;
    height: 56px;
  }

  .list {
    flex-direction: row;
    gap: 28px;
  }

  .formula {
    font-size: 16px;
    line-height: 1.5;
  }

  .description {
    width: 568px;
  }

  .span {
    font-size: 15px;
    line-height: 1.49333;
    padding: 0;
    width: 30px;
  }

  .buttonSubmit {
    padding: auto 50px;
    width: 141px;
    height: 56px;
  }
}

@media only screen and (min-width: 1440px) {
  .modalBox {
    min-width: 920px;
    margin: 64px auto;
  }

  .box {
    margin-bottom: 24px;
  }

  .boxRadio {
    justify-content: flex-start;
    gap: 40px;
  }
  .genderGroup,
  .langGroup {
    width: 400px;
  }

  .flexGroup {
    height: 594px;
    /*  width: 840px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 40px;
  }
  .item {
    width: 400px;
  }

  .input {
    width: 400px;
  }

  .description {
    width: 400px;
  }

  .textActive {
    margin-bottom: 0;
  }
}
