.WelcomeSection {
  background-color: #f0eff4;
  border-radius: 30px;
  padding: 115px 16px 67px 16px;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: left;

}

.logoLanguageWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  margin-top: 0;
  margin-bottom: 74px;
}


.logo {
  align-self: flex-start;

  margin-bottom: 74px;
}
.lang {
  align-self: flex-end;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-self: flex-start;
  max-width: 100%;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  text-align: left;


}

.links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-self: flex-start;
  /* min-width: 100%; */
}

.subtitle {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.06em;
  color: #2f2f2f;
  margin-bottom: 16px;
  color: #323f47;
  /* min-width: 311px; */
  max-width: 100%;
  font-size: 0.75rem;
}

.title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing:  -0.01em;
  color: #323f47;
  max-width: 311px;
  /* font-size: 2rem; */
}

/* .button {
  display: flex;
  justify-content: center;
  align-items: center;

} */



.tryTracker {
  display: flex;
    justify-content: center;
    align-items: center;
  background-color: #9be1a0;
  width: 116px;
  height: 46px;
  /* padding: 14px 19px; */
  border-radius: 30px;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #323f47;
}

.tryTracker:hover,
.tryTracker:focus {
  background-color: #87D28D;

}


.signIn {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
      height: 46px;
  border: #323f47 1px solid;
  /* padding: 14px 28px; */
  border-radius: 30px;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #323f47;
}

.signIn:hover,
.signIn:focus {
  border: #87D28D 1px solid;
  color: #87D28D;
}



@media screen and (min-width: 768px) {
  .WelcomeSection {
    padding: 106px 32px 50px 32px;
  }
  .logo {
    margin-bottom: 50px;
  }

  .subtitle {
    font-size: 16px;
    max-width: 547px;
  }

  .title {
    font-size: 64px;
    max-width: 547px;
    letter-spacing: -0.01em;
  }

    .links {
      width: 320px;
    }

  .tryTracker {
    font-size: 16px;
    line-height: 1.5;
    /* padding: 18px 40px; */
    width: 164px;
    height: 60px;
  }

  .signIn {
    font-size: 16px;
    line-height: 1.5;
    /* padding: 18px 40px; */
    width: 135px;
    height: 60px;

  }
}

@media screen and (min-width: 1440px) {
  .WelcomeSection {
    padding: 188px 32px;
    width: 672px;
  }

  .logo {
    margin-bottom: 132px;
  }

  .title {
    font-size: 80px;
    font-weight: 900;

  }
}
