.AdvantagesSection{
  background-image: url(src/assets/img/woman_aqua_track/woman_aqua_track_mob_1x.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0eff4;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 353px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 14px;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 0.01em;
  color: #323F47;
  position: absolute;
  bottom: 96px;
  left: 16px;
}

.imageContainer {
  display: flex;
  position: relative;

}
.image{
  width: 26.4px;
  height: 28px;

  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;

}

.image:nth-child(1) {
  z-index: 3;
  margin-left: 0;
}

.image:nth-child(2) {
  z-index: 2;
  margin-left: -10px;

}

.image:nth-child(3) {
  z-index: 1;
  margin-left: -10px;

}

.textCustomers{
  color: #323F47;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0;
  width: 67px;
}

.accent{
  color: #9BE1A0;
  font-size: 12px;
  font-family: 'Poppins';
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0;
}

.buttonsBenefits{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  width: 112px;
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.buttonHabitDrive {
  width: 112px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #323F47;
  padding: 9px 12px;
  border-radius: 30px;


}

.habitDrive{
  font-family: 'Poppins';
  font-size: 8px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fff;
  text-align: center;

}

.icon{
  width:8px;
  height: 8px;
  color: #9BE1A0;
}

.buttonViewStatistics {
  width: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9BE1A0;
  padding: 9px 12px;
  border-radius: 30px;

}

.viewStatistics{
  font-family: 'Poppins';
  font-size: 8px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323F47;
  text-align: center;

}

.buttonPersonalRateSetting{
  width: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 9px 12px;
  border-radius: 30px;
}

.personalRateSetting{
  font-family: 'Poppins';
  font-size: 8px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323F47;
  text-align: center;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

@media screen and (min-resolution: 192dpi),
screen and (-webkit-min-device-pixel-ratio: 2) {
  .AdvantagesSection {
    background-image: url("src/assets/img/woman_aqua_track/woman_aqua_track_mob_2x.webp");
  }
}

@media screen and (min-width: 768px) {
.AdvantagesSection{
background-image: url(src/assets/img/woman_aqua_track/woman_aqua_track_tablet_1x.webp);
}
.container{
  height: 446px;
}
.button{
  padding: 10px 20px;
  left: 32px;
}
.textCustomers{
  font-size: 15px;
  width: 90px;
}
.accent{
  font-size: 15px;
}
.image{
  width: 40px;
  height: 40px;
}
.image:nth-child(2) {
  z-index: 2;
  margin-left: -20px;

}

.image:nth-child(3) {
  z-index: 1;
  margin-left: -20px;

}
.buttonsBenefits{
  width: 242px;
  gap: 10px;
  bottom: 32px;
  right: 32px;
}
.buttonHabitDrive{
  width: 242px;
}

.habitDrive{

  font-size: 12px;
}
.buttonViewStatistics{
  width: 242px;
}
.viewStatistics{
  font-size: 12px;
}
.buttonPersonalRateSetting{
  width: 242px;
}
.personalRateSetting{
  font-size: 12px
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .AdvantagesSection {
    background-image: url("src/assets/img/woman_aqua_track/woman_aqua_track_tablet_2x.webp");
  }
}
}

@media screen and (min-width: 1440px) {

  .AdvantagesSection{
    background-image: url(src/assets/img/woman_aqua_track/woman_aqua_track_desktop_1x.webp);
  }

  .container{
    height: 732px;
    width: 672px;

  }

  .button {

    bottom: 132px;
  }

  .image {
    width: 47px;
    height: 47px;
  }

  .buttonsBenefits {

    bottom: 64px;

  }

    @media screen and (min-width: 1440px) and (min-resolution: 192dpi),
    screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
      .AdvantagesSection {
        background-image: url("src/assets/img/woman_aqua_track/woman_aqua_track_desktop_2x.webp");
      }
    }

}