@media screen and (max-width: 767px) {
    .user_button_container {
        position: relative;

        border-radius: 30px;
        max-width: 343px;
        height: 770px;
        background: #f0eff4;
        margin: 0 auto;
    }

    .user_button {
        position: absolute;
        top: 92px;
        left: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        border-radius: 30px;
        padding: 6px 12px;
        width: 137px;
        height: 50px;
        background: #323f47;

        border: none;

    }

    .username {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.01em;
        text-align: center;
        color: #fff;

        /* position: absolute;
        top: 15px;
        right: 88px; */
    }

    .avatar {
        /* margin-left: 53px; */
    }

    .popover {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex;
        text-align: center;
        gap: 8px;
        position: absolute;
        top: 146px;
        left: 22px;

        border-radius: 15px;
        padding-top: 14px;
        width: 137px;
        height: 72px;

        box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);

        background-color: #fff;
        color: #323f47;
        z-index: 10;
    }


    .inPopover {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 8px;

        width: 77px;
        height: 18px;

        margin-left: 20px;

        border: none;
        background-color: transparent;

        color: #323f47;

    }

        .inPopoverLogOut {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* flex-direction: row; */
        gap: 8px;
        
        width: 77px;
        height: 18px;
            
        margin-left: 20px;
            
        border: none;
        background-color: transparent;
        }

    .buttonSetting {
        display: flex;
        gap: 8px;
        align-items: center;

        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28571;
        color: #323f47;

    }

    .iconArrow {
        width: 16px;
        height: 16px;
        /* margin-left: 8px; */
        color: #fff;
        /* position: absolute;
        top: 16px;
        right: 12px; */
    }

    .buttonLogOut {

        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28571;
        color: rgba(50, 63, 71, 0.4);

        width: 77px;
        /* margin-right: 9px; */

    }

    .icon_setting{
        width: 16px;
        height: 16px;
        stroke: #323f47;
    }

    .icon_logout {
        width: 16px;
        height: 16px;
        color: rgba(50, 63, 71, 0.4);
    }
}


@media screen and (min-width: 768px) {
    .user_button_container {
        position: relative;
        border-radius: 30px;
        width: 704px;
        height: 738px;
        background: #f0eff4;

        margin: 16px 32px 32px 32px;
        /* display: inline-block; */
        /* min-width: 768px; */
    }

    .user_button {
        position: absolute;
        top: 32px;
        right: 32px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        border-radius: 30px;
        padding: 6px 12px;
        width: 157px;
        height: 56px;
    
        border: none;

        background: #323f47;
    }

    .username {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        text-align: center;
        color: #fff;

        /* position: absolute;
        top: 15px;
        right: 100px; */
    }

    .avatar {
        /* width: 44px;
        height: 44px;

        margin-left: 25px; */
    }

    .popover {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        gap: 8px;
        position: absolute;
        top: 96px;
        left: 515px;

        border-radius: 15px;
        padding-top: 14px;
        width: 157px;
        height: 82px;

        box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);

        /* right: 1px; */

        background: #fff;
        color: #fff;
        z-index: 10;
    }

    .inPopover {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 8px;

        width: 80px;
        height: 23px;
        /* margin-right: 32px; */
        border: none;

        background-color: transparent;

        /* margin-left: 2px; */

        border: none;
        background-color: transparent;
        
        color: #323f47;
        cursor: pointer;
    }

    .inPopoverLogOut {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* flex-direction: row; */
        gap: 8px;
    
        width: 80px;
        height: 23px;

        margin-left: 3px;
    
        border: none;
        background-color: transparent;
        cursor: pointer;
        }

    .buttonSetting {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28571;
        background-color: transparent;

        color: #323f47;

    }

    .buttonLogOut {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28571;
        color: rgba(50, 63, 71, 0.4);

        width: 80px;
    }

    .iconArrow {
        width: 20px;
        height: 20px;
        /* margin-left: 10px; */
        color: #fff;
        /* position: absolute;
        top: 18px;
        right: 14px; */

        /* margin-left: 10px; */
    }

    .icon_setting {
        width: 16px;
        height: 16px;
    }

    .icon_logout {
        width: 16px;
        height: 16px;
        color: rgba(50, 63, 71, 0.4);
    }

}

@media screen and (min-width: 1440px) {
    .user_button_container {
        width: 672px;
        height: 736px;
        margin: 32px 32px 32px 32px;
    }

    .user_button {
        right: 34px;

    }

    .avatar {
        /* margin-left: 15px;
        width: 44px;
        height: 44px; */
    }

    .username {
        
        /* position:absolute;
        top: 15px;
        right: 100px; */
    }

    .popover {
        top: 64px;
        left: 482px;

        /* Отступ от кнопки */
        top: 96px;
        right: 32px;
        background: #fff;
        color: #fff;
        z-index: 10;

    }


    .inPopover {

    }

    .inPopoverLogOut {

    }

    .buttonSetting {
        font-size: 15px;
        line-height: 1.49333;
        text-align: center;
    }

    .buttonLogOut {
        font-size: 15px;
        line-height: 1.49333;
        text-align: center;
    }

    .iconArrow {
        width: 20px;
        height: 20px;
        
        color: #fff;
        /* position: absolute;
        top: 19px;
        right: 14px; */
    }

    .icon_setting{
        
    }

    .icon_logout{
        
    }

}

/* ================================================================================================================================================ */