.calendarWrap {
  width: 343px;
  padding: 40px 16px;
  background: #f0eff4;
}
.titleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .calendarWrap {
    width: 640px;
    padding: 40px 32px 35px 32px;
  }
}
