.backgroundContainer {
  padding: 24px 16px 24px 16px;
  background-color: rgba(240, 239, 244, 1);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: calc(100% - 32px);
  position: absolute;
  top: 133px;
  left: 16px;
  right: 16px;
}

.formTitle {
  margin: 0;
  margin-bottom: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
}

.label {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  margin-bottom: 8px;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px;
  width: 100%;
  height: 50px;
  margin-bottom: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.lastInput {
  margin-bottom: 32px;
}

.input:hover {
  border: 1px solid rgba(47, 47, 47, 0.4);
  color: #2f2f2f;
}

.error {
  margin: -10px 0px 0px 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #ef5050;
}

.lastError {
  margin-top: -22px;
  margin-bottom: 5px;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  height: 50px;
  background: #9be1a0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.text {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
  margin: 16px 50.5px 0 50.5px;
}

.link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2f2f2f;
}

@media (min-width: 768px) {
  .backgroundContainer {
    padding: 32px 32px 100px 32px;
  }

  .formContainer {
    margin-left: auto;
    margin-right: auto;
    /* padding: 32px; */
    width: 436px;
  }

  .formTitle {
    font-size: 36px;
    line-height: 1.05;
  }

  .label {
    font-size: 16px;
    line-height: 1.5;
  }

  .input {
    width: 436px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
  }

  .btn {
    width: 436px;
    height: 60px;
  }

  .text {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .backgroundContainer {
    width: 672px;
    height: 736px;
  }
}
