.waterListContainer {
  margin-top: 10px;
  overflow-x: auto;
  /* padding: 10px; */
  background-color: #F0EFF4;
  border-radius: 8px;
}

.waterList {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  overflow-x: auto;
  display: flex;
  max-width: 311px;
  height: 118px;
  scrollbar-color:#323F47 #FFFFFF;
  scrollbar-gutter: stable both-edges;
 }

 .waterItem {
  width: 148px;
  height: 74px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 18px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  backdrop-filter: blur(33.599998474121094px);

}

.waterIcon {
  width: 38px;
  height: 38px;
  fill: rgba(92, 184, 92, 0.5);
  flex-shrink: 0;
}

.waterDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

}

.waterAmount {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #323f47;
  margin: 0;
}

.waterTime {
  font-size: 12px;
  line-height: 1;
  color: rgba(47, 47, 47, 0.6);
  margin: 0;
}

.waterEdit,
.waterDelete{
  width: 14px;
  height: 14px;
  background: none;
  border: none;
  cursor: pointer;
  color: #555555;
  transition: color 0.3s ease;
}

.waterActions{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

 @media screen and (min-width: 768px){
  .waterList {
    max-width: 640px;
   }

   .waterItem {
    width: 192px;
    height: 86px;
    padding: 20px;
    gap: 20px;

  }

  .waterIcon {
    width: 44px;
    height: 45px;
  }

  .waterAmount {
    font-size: 15px;
    line-height: 1.49;
  }

  .waterTime {
    font-size: 12px;
    line-height: 1.86;
  }

  .waterEdit,
  .waterDelete{
    width: 16px;
    height: 16px;
  }

 }

 @media screen and (min-width: 1440px){
  .waterList {
    max-width: 608px;
   }
 }

 .waterEdit:hover {
  color: #007bff;
}

.waterDelete:hover {
  color: #dc3545;
}
