html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  margin: 0;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
}

/* Mobile/Main Text */
.main-text-with-opacity {
  color: var(--Opacity_60);
}

/* Mobile/Small Text */
.small-text {
  font-size: 14px;
}
.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  /* padding: 0 16px; */
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    /* padding: 0 32px; */
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    /* height: 100vh; */
  }
}
.pageContentWrapper {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  gap: 16px;
  /* За замовчуванням секції одна під одною */
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .pageContentWrapper {
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: space-between;
    /* Вирівнювання секцій із проміжком між ними */
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .pageContentWrapper {
    flex-direction: row;
    /* Горизонтальне розташування секцій */
    gap: 32px;
    margin: 0;
    height: 100vh;
    padding: 32px;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
}
